@import "./_variables/";

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    color: $primary; // en noir
    background-color: $secondary; // en jaune

    .title_in {
        padding-left: 18px;
    }

    .title_pr{
        padding-right: 30px;
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .title_pa, .title_co {
        padding-right: 18px;
    }

    .title_co {
        padding-top: 5px;
    }
    
    a {
    color: $primary; // en noir
    text-decoration: none;
    padding: 15px 18px 0 18px;
    &:hover {
        color: $tertiary;
        }
    }
}

