body {
  background-color: black;
  margin: 0;
}

.row {
  --bs-gutter-x: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100%;
  height: auto;
}

.row a {
  text-decoration: none;
  color: black;
}

.row a :hover {
  color: #e8e5e5;
}

.cameras {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

h2 {
  background-color: black;
  border: 1px dotted #e8e5e5;
  text-align: center;
  color: #ffc107;
  padding-bottom: 2px;
}

.col-sm {
  border: 1px dotted #e8e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-width: 30%;
  min-height: 435px;
  border-radius: 20px 20px 0 0;
  background-color: black;
  color: #ffc107;
  margin: 0 2px;
}

.col-sm img {
  width: 100%;
  height: 65%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.col-sm p, .col-sm h3 {
  color: #ffc107;
  text-align: center;
}

.col-md {
  border-radius: 20px 20px 0 0;
  width: 100%;
  color: #ffc107;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col-md img {
  margin: 0 5%;
  width: 90%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.col-md p, .col-md h3 {
  padding-top: 5px;
  text-align: center;
}

.col-md-ct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col-md-ct :nth-child(1) :nth-child(2) :nth-child(3) {
  margin: 5px;
}

.produit {
  background-color: black;
}

.d-flex {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.p-2 {
  background-color: black;
  margin: 4px !important;
  border: #ffc107 2px solid;
  color: #ffc107;
  border-radius: 6px;
  width: 15%;
  padding: 0 !important;
}

.p-2 p button {
  margin-right: 2px;
  margin-left: 2px;
}

.p-2 img {
  width: 100%;
  height: 100%;
  border-radius: 0 0 10px 10px;
}

.panierBG {
  background-color: black;
  color: #ffc107;
}

.objCommande {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none !important;
}

.formulaire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.formulaire form {
  -webkit-box-flex: 0 !important;
      -ms-flex: none !important;
          flex: none !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.formulaire form p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70%;
}

.formulaire form button {
  width: 65% !important;
  margin-bottom: 4px;
}

.formulaire .col-md-6 {
  -webkit-box-flex: 0 !important;
      -ms-flex: none !important;
          flex: none !important;
  width: 35%;
  margin-left: 4px;
}

@media screen and (max-width: 1000px) {
  .col-sm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 33%;
  }
  .cameras :nth-child(5) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  color: black;
  background-color: #ffc107;
}

.header .title_in {
  padding-left: 18px;
}

.header .title_pr {
  padding-right: 30px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.header .title_pa, .header .title_co {
  padding-right: 18px;
}

.header .title_co {
  padding-top: 5px;
}

.header a {
  color: black;
  text-decoration: none;
  padding: 15px 18px 0 18px;
}

.header a:hover {
  color: #e8e5e5;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  color: black;
  background-color: #ffc107;
}

footer a {
  text-decoration: none;
  color: black;
  margin-left: 2px;
  margin-bottom: 3px;
}

footer a:hover {
  color: #e8e5e5;
}

.footer_column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer_column :nth-child(2) {
  padding-left: 5px;
}
/*# sourceMappingURL=style.css.map */